<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BillDetailMapper">

    <resultMap id="BaseResultMap" type="com.apeic.bill.model.entity.BillDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="recordDate" column="recordDate" jdbcType="DATE"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="billId" column="billId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="categoryName" column="categoryName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,recordDate,amount,
        description,billId,userId,
        categoryId,categoryName,createTime,
        updateTime,isDelete
    </sql>
</mapper>
